* {
  box-sizing: border-box;
}

html,
body {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --font-size: 16px;
  --ru: 1.25;

  --color-text: #333;
  --color-bg: #fff;
  --color-primary: #fef4c3;

  --color-success: #7bcb3d;
  --color-success-fade: #7bcb3d33;
  --color-section-border: rgba(0, 0, 0, 0.1);

  --color-danger: #cb4e3d;
  --color-danger-fade: #cb4e3d33;
  --page-margin: 1rem;

  margin: 0;
  padding: 0;
  min-width: 380px;

  font-family: var(--font-family);
  font-size: var(--font-size);
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  line-height: 1.25;
}

h1 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem;
}

p {
  font-size: 1rem;
}

p:first-of-type {
  margin-block-start: 0;
}

a:not([class]) {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  text-decoration: underline;

  text-decoration-thickness: 0.15rem;

  color: var(--color-text);
}

a:not([class]):hover {
  text-decoration: none;
}

a:not([class]):visited {
  color: var(--color-text);
}
