.main {
}

.topNav,
.bottomNav {
  padding: 1rem;
}

.topNav {
  border-bottom: 1px solid var(--color-section-border);
}

.bottomNav {
  border-top: 1px solid var(--color-section-border);
}

.inactive {
  min-height: 4rem;
  display: grid;
  place-items: center;
}

.section {
  padding-inline: var(--page-margin);
}

.section summary {
  cursor: pointer;
}

.timings {
  margin: 0 0 0 0.75rem;
  padding: 0;
}

.timings li {
  padding: 0.5rem 0;
}

.timings time {
  font-weight: bold;
  color: var(--color-text);
}

.timingsSeparator {
  opacity: 0.5;
  padding-inline: 0.25rem;
}

.timingsSeparator::after {
  content: "...";
}
