.main {
  position: absolute;
  z-index: 1;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1;
  visibility: visible;
  transition: 0.3s visibility, 0.3s opacity;
}

.main[hidden] {
  opacity: 0;
  visibility: hidden;
}
