.main {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  text-align: center;
}

.main:last-child {
  margin-block-end: 0;
}

.isError {
  background: #ff000136;
  color: #b90000;
}

.isSuccess {
  background: #8bc34a57;
  color: #126816;
}

.isInfo {
  background: #2cb4c357;
  color: #074c66;
}
