body,
html {
  margin: 0;
  padding: 0;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-size: clamp(16px, 1.5vw, 20px);

  --color-bg: #fff;
  /* --color-butter: #fef4c3; */
  --color-butter: #f4d184;
  --color-text: #222;
  --color-link: rgb(238, 47, 40);
}

::selection {
  background-color: var(--color-butter);
  color: var(--color-text);
}

body {
  padding: 1rem;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.4;
}

@media all and (min-width: 420px) {
  body {
    background-image: url(/butter.webp);
    background-size: 10rem;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
  }
}

@media all and (min-width: 768px) {
  body {
    background-size: 14rem;
  }
}

article {
  margin: 0 auto;
  max-width: 30rem;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  margin: 0 0 1rem;
}

h2 {
  text-align: center;
}

article img {
  max-width: 100%;
  height: auto;
}

footer {
  margin: 0 auto;
  max-width: 36rem;
  font-size: 0.75rem;
  text-align: center;
  border-top: #222 solid 2px;
  position: sticky;
  bottom: 0;
  padding: 0.5rem;
  background-color: var(--color-bg);
}

a {
  color: var(--color-link);
}

mark {
  background-color: transparent;
  position: relative;
}

mark::before {
  content: "";
  height: 0.5em;
  width: 100%;
  position: absolute;
  display: block;
  background-color: var(--color-butter);
  left: -0.1em;
  right: -0.1em;
  bottom: 0.1em;
  z-index: -1;
}
